.tablex__pager {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: auto;
  font-size: 0;
}

.tablex__pager__number {
  flex: auto;
}

.tablex__pager__number .tablex-pagination {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.tablex__pager__count {
  font-size: 14px;
}

.tablex__pager .tablex-pagination-simple {
  padding-top: 4px;
}

.tablex__pager ul.tablex-pagination {
  display: inline-block;
}

.tablex__pager .tablex-pagination-item,
.tablex__pager .tablex-pagination-prev,
.tablex__pager .tablex-pagination-next {
  margin: 0;
  border-radius: 0;
  margin-left: -1px;
}

.tablex__pager .tablex-pagination-item a {
  color: #188ae2;
}

.tablex__pager .tablex-pagination-item:focus,
.tablex__pager .tablex-pagination-item:hover {
  border-color: #d9d9d9;
}

.tablex__pager .tablex-pagination-item.tablex-pagination-item-active:hover,
.tablex__pager .tablex-pagination-item.tablex-pagination-item-active:focus {
  border-color: #798df5;
}

.tablex__pager .tablex-pagination-item-active {
  border-color: #798df5;
  background-color: #798df5;
}

.tablex__pager .tablex-pagination-item-active a,
.tablex__pager .tablex-pagination-item-active:focus a {
  color: #ffffff;
}

.tablex__pager .tablex-pagination-prev .tablex-pagination-item-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.tablex__pager .tablex-pagination-next .tablex-pagination-item-link {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.tablex-pagination-options-size-changer.ant-select {
  display: inline-block;
  width: auto;
}

.tablex-pagination-refresh {
  vertical-align: middle;
  margin-left: 6px;
}
