.tablex-table-row.tablex-row-dragging {
  display: flex;
  width: auto;
  min-width: auto;
  background-color: #ffffff;
  box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.tablex-table-row.tablex-row-dragging .tablex-table-row-cell {
  display: flex;
  flex: 0 0 auto;
  box-sizing: border-box;
  align-items: center;
  position: relative;
}


.dragg-hover{
  background-color: yellow!important;
}