.tablex__container {
  height: 100%;
  width: 100%;
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: 0;
  position: relative;
}

.tablex__container__body {
  flex: auto;
}

.tablex__container__header,
.tablex__container__footer {
  width: 100%;
  flex: 0 0 auto;
  -webkit-box-flex: 0;
  background-color: #ffffff;
}

.tablex__container__footer {
  padding: 10px 10px;
  border: 1px solid #eaeaea;
  border-top: none;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
}

.tablex__head__cell__title {
  position: relative;
  width: 100%;
}

.tablex__head__cell__title__dropdown {
  cursor: pointer;
  display: none;
  width: 16px;
  height: 16px;
  outline: none;
  font-size: 0;
  position: absolute;
  top: 6px;
  right: 0px;
  background-color: #ffffff;
}

.tablex__head__cell__title__dropdown::after {
  content: "";
  display: block;
  width: 12px;
  height: 10px;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  background-color: #ccc;
  padding: 2px 0;
  background-clip: content-box;
}

.tablex-table-head-cell:hover .tablex__head__cell__title__dropdown {
  display: inline-block;
}

.tablex__head__cell__title__dropdown.opened {
  display: inline-block;
}

.tablex__head__cell__title__dropdown.ant-popover-open {
  display: inline-block;
}

.tablex__column__dropMenu
  .ant-menu-vertical
  > .ant-menu-submenu
  > .ant-menu-submenu-title {
  height: auto;
  line-height: normal;
  padding: 0 8px;
}

.tablex__emptydata {
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  margin: auto;
  width: 200px;
  height: 40px;
  line-height: 38px;
  color: #c7c7c7;
  font-size: 16px;
  z-index: 889;
}

.tablex__row__dragging {
  border: 1px solid #eeeeee;
  background-color: #ffffff;
}

.tablex__striped .tablex__row--even {
  background-color: #fafbfc;
}
