/************滚动条样式*************/

.tablex::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.tablex::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 4px;
}

.tablex::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8;
}

.tablex {
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 #eeeeee;
  background-color: #ffffff;
  position: relative;
  box-sizing: border-box;
  font-size: 13px;
}

.tablex-row {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #eeeeee;
  box-sizing: border-box;
}

.tablex-row-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-left: 1px solid #eeeeee;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
}

.tablex-row-cell .tablex-row-cell-inner {
  padding: 0 5px;
}



.tablex-body {
  position: relative;
  display: flex;
}

 

.tablex-body-left,.tablex-body-middle,.tablex-body-right{
  position: relative;
}

.tablex-body-left{
}

.tablex-body-middle{
  flex: 1
}

.tablex-body-right{
  border-left: 1px solid #e8e8e8;
}