.tablex-table-row .tablex-table-row-cell .tablex-row-cell-editor {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.tablex-row-cell-editor .tablex-input,
.tablex-row-cell-editor .table-custom-editor,
.tablex-row-cell-editor .tablex-input-number,
.tablex-row-cell-editor .tablex-input-number .tablex-input-number-input-wrap,
.tablex-row-cell-editor .tablex-select,
.tablex-row-cell-editor .tablex-select-selection {
  width: 100%;
}

.tablex-row-cell-editor .tablex-input-number {
  padding-right: 16px;
}

.tablex-editor-noborder .tablex-row-cell-editor.no-error.not-focused .tablex-input,
.tablex-editor-noborder
  .tablex-row-cell-editor.no-error.not-focused
  .table-custom-editor,
.tablex-editor-noborder
  .tablex-row-cell-editor.no-error.not-focused
  .tablex-input-number,
.tablex-editor-noborder
  .tablex-row-cell-editor.no-error.not-focused
  .tablex-select-selection {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
}

.tablex-editor-noborder
  .tablex-row-cell-editor.no-error
  .tablex-select-selection
  .tablex-select-arrow {
  visibility: hidden;
}

.tablex-editor-noborder
  .tablex-row-cell-editor.no-error
  .tablex-select-selection:hover
  .tablex-select-arrow {
  visibility: visible;
}

.tablex-editor-noborder
  .tablex-row-cell-editor.no-error
  .tablex-calendar-picker
  .tablex-calendar-picker-icon {
  visibility: hidden;
}

.tablex-editor-noborder
  .tablex-row-cell-editor.no-error
  .tablex-calendar-picker:hover
  .tablex-calendar-picker-icon {
  visibility: visible;
}
