.tablex-table-row .tablex-table-row-cell .tablex-row-cell-editor {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  text-align: left;
}

.tablex-row-cell-editor .ant-input,
.tablex-row-cell-editor .table-custom-editor,
.tablex-row-cell-editor .ant-input-number,
.tablex-row-cell-editor .ant-input-number .ant-input-number-input-wrap,
.tablex-row-cell-editor .ant-select,
.tablex-row-cell-editor .ant-select-selection {
  width: 100%;
}

.tablex-row-cell-editor .ant-input-number .ant-input-number-input {
  width: calc(100% - 24px);
}

.tablex-editor-noborder .tablex-row-cell-editor.no-error.not-focused .ant-input,
.tablex-editor-noborder
  .tablex-row-cell-editor.no-error.not-focused
  .table-custom-editor,
.tablex-editor-noborder
  .tablex-row-cell-editor.no-error.not-focused
  .ant-input-number,
.tablex-editor-noborder
  .tablex-row-cell-editor.no-error.not-focused
  .ant-select-selection {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
}

.tablex-editor-noborder
  .tablex-row-cell-editor.no-error
  .ant-select-selection
  .ant-select-arrow {
  visibility: hidden;
}

.tablex-editor-noborder
  .tablex-row-cell-editor.no-error
  .ant-select-selection:hover
  .ant-select-arrow {
  visibility: visible;
}

.tablex-editor-noborder
  .tablex-row-cell-editor.no-error
  .ant-calendar-picker
  .ant-calendar-picker-icon {
  visibility: hidden;
}

.tablex-editor-noborder
  .tablex-row-cell-editor.no-error
  .ant-calendar-picker:hover
  .ant-calendar-picker-icon {
  visibility: visible;
}
