.tablex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  background-color: #ffffff;
}

.tablex-container.tablex-bordered {
  border: 1px solid #e8e8ee;
}

.tablex-container * {
  box-sizing: border-box;
}

.tablex-table ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.tablex-table ::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 4px;
}

.tablex-table ::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8;
}

.tablex-container .tablex-table {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.tablex-table .tablex-table-body {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.tablex-table .tablex-table-row {
  display: flex;
  width: auto;
  min-width: 100%;
  background-color: #ffffff;
}

.tablex-bordered .tablex-table-row {
  border-bottom: 1px solid #eeeeee;
}

.tablex-autowrap .tablex-table-row {
  min-height: 40px;
}

.tablex-bordered .tablex-table-row .tablex-table-row-cell {
  border-right: 1px solid #eeeeee;
}

.tablex-table .tablex-table-row .tablex-table-row-cell-rowspan {
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;
}

.tablex-table-body .tablex-table-row.tablex-table-row--hovered {
  background-color: #e6f7ff;
}

.tablex-table-body
  .tablex-table-row.tablex-table-row--hovered
  .tablex-table-row-cell-rowspan {
  background-color: #e6f7ff;
}

.tablex-table-row .tablex-table-row-cell {
  display: flex;
  flex: 0 0 auto;
  box-sizing: border-box;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.tablex-table-row-cell .tablex-table-row-cell-inner {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 5px;
  width: 100%;
}

.tablex-autowrap .tablex-table-row-cell .tablex-table-row-cell-inner {
  white-space: pre-line;
  word-break: break-all;
}

.tablex-autowrap .tablex-row-expandedRowRender {
  white-space: pre-line;
  word-break: break-all;
}

.tablex-table .tablex-table-head-container {
  white-space: nowrap;
  font-size: 0;
  overflow: hidden;
  box-sizing: border-box;
  flex: 0 0 auto;
  border-bottom: 1px solid #e8e8ee;
  z-index: 2;
}

.tablex-table .tablex-table-head {
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.tablex-table .tablex-table-head-cell,
.tablex-table .tablex-table-head-group-cell {
  display: inline-flex;
  box-sizing: border-box;
  height: 100%;
  vertical-align: top;
  position: relative;
  align-items: center;
  flex: 0 0 auto;
  overflow: hidden;
}

.tablex-table .tablex-head-cell-rowcolspan {
  z-index: 2;
  background-color: #ffffff;
}

.tablex-bordered .tablex-table .tablex-table-head-cell {
  border-right: 1px solid #e8e8ee;
  border-bottom: 1px solid #e8e8ee;
}

.tablex-bordered .tablex-table .tablex-table-head-group-cell {
  border-bottom: 1px solid #e8e8ee;
  border-right: 1px solid #e8e8ee;
}

.tablex-table .tablex-table-head-group-cell-inner,
.tablex-table .tablex-table-head-cell-inner {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 5px;
  font-size: 13px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.tablex-table .tablex-table-head-container .resize-handle {
  width: 6px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  cursor: col-resize;
  background-color: transparent;
  border-right: 2px solid transparent;
}

.tablex-table .tablex-table-head-container .resize-handle:hover {
  border-color: #188ae2;
}

.tablex-table .tablex-table-head-container .resizeMarkLine {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #188ae2;
  height: 100%;
  width: 2px;
  z-index: 99;
  display: block;
}

/*冻结*/

.tablex-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.tablex-container .tablex-main {
  height: 100%;
  flex-grow: 1;
}

.tablex-container .tablex-frozen-left {
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  z-index: 10;
  background-color: #ffffff;
}

.tablex-container .tablex-frozen-right {
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  z-index: 10;
  background-color: #ffffff;
}

.tablex-container .tablex-frozen-left.tablex-frozen-scrolled {
  box-shadow: 6px 0 6px -4px rgba(0, 0, 0, 0.15);
}

.tablex-container .tablex-frozen-right.tablex-frozen-scrolled {
  box-shadow: -6px 0 6px -4px rgba(0, 0, 0, 0.15);
}

.tablex-container.tablex-bordered .tablex-main {
  margin-right: -1px;
}

.tablex-container.tablex-bordered
  .tablex-frozen-right
  .tablex-table-head
  > .tablex-head-row
  > .tablex-table-head-cell,
.tablex-container.tablex-bordered
  .tablex-frozen-right
  .tablex-table
  .tablex-table-row
  .tablex-table-row-cell {
  border-right: none;
  border-left: 1px solid #eeeeee;
}

.tablex-table-rows-frozen {
  position: absolute;
  border-top: 1px solid #eeeeee;
  left: 0;
  background-color: #fff;
  z-index: 2;
}
