/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.tablex-pagination {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
            font-feature-settings: 'tnum';
  }
  .tablex-pagination ul,
  .tablex-pagination ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .tablex-pagination::after {
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    content: ' ';
  }
  .tablex-pagination-total-text {
    display: inline-block;
    height: 32px;
    margin-right: 8px;
    line-height: 30px;
    vertical-align: middle;
  }
  .tablex-pagination-item {
    display: inline-block;
    min-width: 32px;
    height: 32px;
    margin-right: 8px;
    font-family: Arial;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    list-style: none;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    outline: 0;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .tablex-pagination-item a {
    display: block;
    padding: 0 6px;
    color: rgba(0, 0, 0, 0.65);
    -webkit-transition: none;
    transition: none;
  }
  .tablex-pagination-item a:hover {
    text-decoration: none;
  }
  .tablex-pagination-item:focus,
  .tablex-pagination-item:hover {
    border-color: #1890ff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .tablex-pagination-item:focus a,
  .tablex-pagination-item:hover a {
    color: #1890ff;
  }
  .tablex-pagination-item-active {
    font-weight: 500;
    background: #fff;
    border-color: #1890ff;
  }
  .tablex-pagination-item-active a {
    color: #1890ff;
  }
  .tablex-pagination-item-active:focus,
  .tablex-pagination-item-active:hover {
    border-color: #40a9ff;
  }
  .tablex-pagination-item-active:focus a,
  .tablex-pagination-item-active:hover a {
    color: #40a9ff;
  }
  .tablex-pagination-jump-prev,
  .tablex-pagination-jump-next {
    outline: 0;
  }
  .tablex-pagination-jump-prev .tablex-pagination-item-container,
  .tablex-pagination-jump-next .tablex-pagination-item-container {
    position: relative;
  }
  .tablex-pagination-jump-prev .tablex-pagination-item-container .tablex-pagination-item-link-icon,
  .tablex-pagination-jump-next .tablex-pagination-item-container .tablex-pagination-item-link-icon {
    display: inline-block;
    font-size: 12px;
    font-size: 12px \9;
    -webkit-transform: scale(1) rotate(0deg);
        -ms-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
    color: #1890ff;
    letter-spacing: -1px;
    opacity: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  :root .tablex-pagination-jump-prev .tablex-pagination-item-container .tablex-pagination-item-link-icon,
  :root .tablex-pagination-jump-next .tablex-pagination-item-container .tablex-pagination-item-link-icon {
    font-size: 12px;
  }
  .tablex-pagination-jump-prev .tablex-pagination-item-container .tablex-pagination-item-link-icon-svg,
  .tablex-pagination-jump-next .tablex-pagination-item-container .tablex-pagination-item-link-icon-svg {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  .tablex-pagination-jump-prev .tablex-pagination-item-container .tablex-pagination-item-ellipsis,
  .tablex-pagination-jump-next .tablex-pagination-item-container .tablex-pagination-item-ellipsis {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    margin: auto;
    color: rgba(0, 0, 0, 0.25);
    letter-spacing: 2px;
    text-align: center;
    text-indent: 0.13em;
    opacity: 1;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .tablex-pagination-jump-prev:focus .tablex-pagination-item-link-icon,
  .tablex-pagination-jump-next:focus .tablex-pagination-item-link-icon,
  .tablex-pagination-jump-prev:hover .tablex-pagination-item-link-icon,
  .tablex-pagination-jump-next:hover .tablex-pagination-item-link-icon {
    opacity: 1;
  }
  .tablex-pagination-jump-prev:focus .tablex-pagination-item-ellipsis,
  .tablex-pagination-jump-next:focus .tablex-pagination-item-ellipsis,
  .tablex-pagination-jump-prev:hover .tablex-pagination-item-ellipsis,
  .tablex-pagination-jump-next:hover .tablex-pagination-item-ellipsis {
    opacity: 0;
  }
  .tablex-pagination-prev,
  .tablex-pagination-jump-prev,
  .tablex-pagination-jump-next {
    margin-right: 8px;
  }
  .tablex-pagination-prev,
  .tablex-pagination-next,
  .tablex-pagination-jump-prev,
  .tablex-pagination-jump-next {
    display: inline-block;
    min-width: 32px;
    height: 32px;
    color: rgba(0, 0, 0, 0.65);
    font-family: Arial;
    line-height: 32px;
    text-align: center;
    vertical-align: middle;
    list-style: none;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .tablex-pagination-prev,
  .tablex-pagination-next {
    outline: 0;
  }
  .tablex-pagination-prev a,
  .tablex-pagination-next a {
    color: rgba(0, 0, 0, 0.65);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .tablex-pagination-prev:hover a,
  .tablex-pagination-next:hover a {
    border-color: #40a9ff;
  }
  .tablex-pagination-prev .tablex-pagination-item-link,
  .tablex-pagination-next .tablex-pagination-item-link {
    display: block;
    height: 100%;
    font-size: 12px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    outline: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .tablex-pagination-prev:focus .tablex-pagination-item-link,
  .tablex-pagination-next:focus .tablex-pagination-item-link,
  .tablex-pagination-prev:hover .tablex-pagination-item-link,
  .tablex-pagination-next:hover .tablex-pagination-item-link {
    color: #1890ff;
    border-color: #1890ff;
  }
  .tablex-pagination-disabled,
  .tablex-pagination-disabled:hover,
  .tablex-pagination-disabled:focus {
    cursor: not-allowed;
  }
  .tablex-pagination-disabled a,
  .tablex-pagination-disabled:hover a,
  .tablex-pagination-disabled:focus a,
  .tablex-pagination-disabled .tablex-pagination-item-link,
  .tablex-pagination-disabled:hover .tablex-pagination-item-link,
  .tablex-pagination-disabled:focus .tablex-pagination-item-link {
    color: rgba(0, 0, 0, 0.25);
    border-color: #d9d9d9;
    cursor: not-allowed;
  }
  .tablex-pagination-slash {
    margin: 0 10px 0 5px;
  }
  .tablex-pagination-options {
    display: inline-block;
    margin-left: 6px;
    vertical-align: middle;
  }
  .tablex-pagination-options-size-changer.tablex-select {
    display: inline-block;
    width: auto;
    margin-right: 8px;
  }
  .tablex-pagination-options-quick-jumper {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    vertical-align: top;
  }
  .tablex-pagination-options-quick-jumper input {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 32px;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    line-height: 32px;
    line-height: 1.5 \9;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 50px;
    margin: 0 8px;
  }
  .tablex-pagination-options-quick-jumper input::-moz-placeholder {
    color: #bfbfbf;
    opacity: 1;
  }
  .tablex-pagination-options-quick-jumper input:-ms-input-placeholder {
    color: #bfbfbf;
  }
  .tablex-pagination-options-quick-jumper input::-webkit-input-placeholder {
    color: #bfbfbf;
  }
  .tablex-pagination-options-quick-jumper input:placeholder-shown {
    text-overflow: ellipsis;
  }
  .tablex-pagination-options-quick-jumper input:hover {
    border-color: #40a9ff;
    border-right-width: 1px !important;
  }
  .tablex-pagination-options-quick-jumper input:focus {
    border-color: #40a9ff;
    border-right-width: 1px !important;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
            box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  }
  .tablex-pagination-options-quick-jumper input-disabled {
    color: rgba(0, 0, 0, 0.25);
    background-color: #f5f5f5;
    cursor: not-allowed;
    opacity: 1;
  }
  .tablex-pagination-options-quick-jumper input-disabled:hover {
    border-color: #d9d9d9;
    border-right-width: 1px !important;
  }
  .tablex-pagination-options-quick-jumper input[disabled] {
    color: rgba(0, 0, 0, 0.25);
    background-color: #f5f5f5;
    cursor: not-allowed;
    opacity: 1;
  }
  .tablex-pagination-options-quick-jumper input[disabled]:hover {
    border-color: #d9d9d9;
    border-right-width: 1px !important;
  }
  textarea.tablex-pagination-options-quick-jumper input {
    max-width: 100%;
    height: auto;
    min-height: 32px;
    line-height: 1.5;
    vertical-align: bottom;
    -webkit-transition: all 0.3s, height 0s;
    transition: all 0.3s, height 0s;
  }
  .tablex-pagination-options-quick-jumper input-lg {
    height: 40px;
    padding: 6px 11px;
    font-size: 16px;
    line-height: 40px;
    line-height: 1.5 \9;
  }
  .tablex-pagination-options-quick-jumper input-sm {
    height: 24px;
    padding: 1px 7px;
    line-height: 24px;
    line-height: 1.5 \9;
  }
  .tablex-pagination-simple .tablex-pagination-prev,
  .tablex-pagination-simple .tablex-pagination-next {
    height: 24px;
    line-height: 24px;
    vertical-align: top;
  }
  .tablex-pagination-simple .tablex-pagination-prev .tablex-pagination-item-link,
  .tablex-pagination-simple .tablex-pagination-next .tablex-pagination-item-link {
    height: 24px;
    border: 0;
  }
  .tablex-pagination-simple .tablex-pagination-prev .tablex-pagination-item-link::after,
  .tablex-pagination-simple .tablex-pagination-next .tablex-pagination-item-link::after {
    height: 24px;
    line-height: 24px;
  }
  .tablex-pagination-simple .tablex-pagination-simple-pager {
    display: inline-block;
    height: 24px;
    margin-right: 8px;
  }
  .tablex-pagination-simple .tablex-pagination-simple-pager input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 100%;
    margin-right: 8px;
    padding: 0 6px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    outline: none;
    -webkit-transition: border-color 0.3s;
    transition: border-color 0.3s;
  }
  .tablex-pagination-simple .tablex-pagination-simple-pager input:hover {
    border-color: #1890ff;
  }
  .tablex-pagination.mini .tablex-pagination-total-text,
  .tablex-pagination.mini .tablex-pagination-simple-pager {
    height: 24px;
    line-height: 24px;
  }
  .tablex-pagination.mini .tablex-pagination-item {
    min-width: 24px;
    height: 24px;
    margin: 0;
    line-height: 22px;
  }
  .tablex-pagination.mini .tablex-pagination-item:not(.tablex-pagination-item-active) {
    background: transparent;
    border-color: transparent;
  }
  .tablex-pagination.mini .tablex-pagination-prev,
  .tablex-pagination.mini .tablex-pagination-next {
    min-width: 24px;
    height: 24px;
    margin: 0;
    line-height: 24px;
  }
  .tablex-pagination.mini .tablex-pagination-prev .tablex-pagination-item-link,
  .tablex-pagination.mini .tablex-pagination-next .tablex-pagination-item-link {
    background: transparent;
    border-color: transparent;
  }
  .tablex-pagination.mini .tablex-pagination-prev .tablex-pagination-item-link::after,
  .tablex-pagination.mini .tablex-pagination-next .tablex-pagination-item-link::after {
    height: 24px;
    line-height: 24px;
  }
  .tablex-pagination.mini .tablex-pagination-jump-prev,
  .tablex-pagination.mini .tablex-pagination-jump-next {
    height: 24px;
    margin-right: 0;
    line-height: 24px;
  }
  .tablex-pagination.mini .tablex-pagination-options {
    margin-left: 2px;
  }
  .tablex-pagination.mini .tablex-pagination-options-quick-jumper {
    height: 24px;
    line-height: 24px;
  }
  .tablex-pagination.mini .tablex-pagination-options-quick-jumper input {
    height: 24px;
    padding: 1px 7px;
    line-height: 24px;
    line-height: 1.5 \9;
    width: 44px;
  }
  .tablex-pagination.tablex-pagination-disabled {
    cursor: not-allowed;
  }
  .tablex-pagination.tablex-pagination-disabled .tablex-pagination-item {
    background: #f5f5f5;
    border-color: #d9d9d9;
    cursor: not-allowed;
  }
  .tablex-pagination.tablex-pagination-disabled .tablex-pagination-item a {
    color: rgba(0, 0, 0, 0.25);
    background: transparent;
    border: none;
    cursor: not-allowed;
  }
  .tablex-pagination.tablex-pagination-disabled .tablex-pagination-item-active {
    background: #dbdbdb;
    border-color: transparent;
  }
  .tablex-pagination.tablex-pagination-disabled .tablex-pagination-item-active a {
    color: #fff;
  }
  .tablex-pagination.tablex-pagination-disabled .tablex-pagination-item-link,
  .tablex-pagination.tablex-pagination-disabled .tablex-pagination-item-link:hover,
  .tablex-pagination.tablex-pagination-disabled .tablex-pagination-item-link:focus {
    color: rgba(0, 0, 0, 0.45);
    background: #f5f5f5;
    border-color: #d9d9d9;
    cursor: not-allowed;
  }
  .tablex-pagination.tablex-pagination-disabled .tablex-pagination-jump-prev:focus .tablex-pagination-item-link-icon,
  .tablex-pagination.tablex-pagination-disabled .tablex-pagination-jump-next:focus .tablex-pagination-item-link-icon,
  .tablex-pagination.tablex-pagination-disabled .tablex-pagination-jump-prev:hover .tablex-pagination-item-link-icon,
  .tablex-pagination.tablex-pagination-disabled .tablex-pagination-jump-next:hover .tablex-pagination-item-link-icon {
    opacity: 0;
  }
  .tablex-pagination.tablex-pagination-disabled .tablex-pagination-jump-prev:focus .tablex-pagination-item-ellipsis,
  .tablex-pagination.tablex-pagination-disabled .tablex-pagination-jump-next:focus .tablex-pagination-item-ellipsis,
  .tablex-pagination.tablex-pagination-disabled .tablex-pagination-jump-prev:hover .tablex-pagination-item-ellipsis,
  .tablex-pagination.tablex-pagination-disabled .tablex-pagination-jump-next:hover .tablex-pagination-item-ellipsis {
    opacity: 1;
  }
  @media only screen and (max-width: 992px) {
    .tablex-pagination-item-after-jump-prev,
    .tablex-pagination-item-before-jump-next {
      display: none;
    }
  }
  @media only screen and (max-width: 576px) {
    .tablex-pagination-options {
      display: none;
    }
  }
  