.tablex-row-expand {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.tablex-bordered .tablex-table-row .tablex-row-expandedRowRender {
  min-width: 100%;
}

.tablex-row-expand-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 14px;
  border: 1px solid #e8e8e8;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #fff;
  cursor: pointer;
}

@keyframes loadingCircle {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.tablex-loading-icon {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  animation: loadingCircle 1s infinite linear;
  color: #1890ff;
}
