.tablex-row-expand {
  display: inline-flex;
  width: 20px;
  height: 20px;
  padding: 0 0 0 5px;
  align-items: center;
  flex: none;
}

.tablex-row-expand-icon {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  line-height: 13px;
  text-align: center;
  border: 1px solid #e8e8e8;
  user-select: none;
  background: #fff;
  cursor: pointer;
}

.tablex-row-expand-icon.tablex-row-expand-icon-expanded::after {
  content: "-";
}

.tablex-row-expand-icon.tablex-row-expand-icon-collapsed::after {
  content: "+";
}

.tablex-bordered .tablex-table-row .tablex-row-expandedRowRender {
  min-width: 100%;
}

@keyframes loadingCircle {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.tablex-loading-icon {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  animation: loadingCircle 1s infinite linear;
  color: #1890ff;
}
