.tablex__container {
  height: 100%;
  width: 100%;
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: 0;
  position: relative;
  overflow: hidden;
}

.tablex__container__body {
  flex: auto;
}

.tablex__container__header,
.tablex__container__footer {
  width: 100%;
  flex: 0 0 auto;
  -webkit-box-flex: 0;
  background-color: #ffffff;
}

.tablex__container__footer {
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
}

.tablex__container__footer__extra {
  height: 50px;
  border-bottom: 1px solid #eaeaea;
}

.tablex__container__footer__content {
  height: 50px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid #eaeaea;
}

.tablex__head__cell__title {
  position: relative;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tablex__head__cell__title__dropdown {
  cursor: pointer;
  display: none;
  width: 16px;
  height: 16px;
  outline: none;
  font-size: 0;
  position: absolute;
  top: 6px;
  right: 0px;
  background-color: #ffffff;
}

.tablex__head__cell__title__dropdown::after {
  content: "";
  display: block;
  width: 12px;
  height: 10px;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  background-color: #ccc;
  padding: 2px 0;
  background-clip: content-box;
}

.tablex-table-head-cell:hover .tablex__head__cell__title__dropdown {
  display: inline-block;
}

.tablex__head__cell__title__dropdown.opened {
  display: inline-block;
}

.tablex__head__cell__title__dropdown.ant-popover-open {
  display: inline-block;
}

.tablex__column__dropMenu
  .ant-menu-vertical
  > .ant-menu-submenu
  > .ant-menu-submenu-title {
  height: auto;
  line-height: normal;
  padding: 0 8px;
}

.tablex__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}

.tablex__emptydata {
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  margin: auto;
  width: 200px;
  height: 70px;
  color: #c7c7c7;
  font-size: 14px;
  z-index: 2;
  letter-spacing: 1px;
}

.tablex-table .tablex-table-body .tablex-table-row.tablex-row-focused {
  box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.tablex__striped .tablex__row--even,
.tablex__striped .tablex__row--even .tablex-table-row-cell-rowspan {
  background-color: #fafbfc;
}

 
.tablex__setting__modal__item__dragging {
  box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.tablex__setting__modal__footer .ant-btn.ant-btn-purple {
  background-color: #798df5;
  border-color: #798df5;
  color: #ffffff;
}

.tablex__setting__modal__footer .ant-btn.ant-btn-purple:hover,
.tablex__setting__modal__footer .ant-btn.ant-btn-purple:focus {
  background-color: #7b8be3;
  border-color: #7b8be3;
  color: #ffffff;
}

.tablex__setting__modal__footer .ant-btn.ant-btn-purple:active {
  background-color: #6676ca;
  border-color: #6676ca;
  color: #ffffff;
}

.tablex__setting__modal__footer .ant-btn.ant-btn-purple.ant-btn-clicked:after {
  border-color: #6676ca;
}

.tablex__setting__modal__footer .ant-btn.ant-btn-green {
  background-color: #3ec396;
  border-color: #3ec396;
  color: #ffffff;
}

.tablex__setting__modal__footer .ant-btn.ant-btn-green:hover,
.tablex__setting__modal__footer .ant-btn.ant-btn-green:focus {
  background-color: #3ec396;
  border-color: #3ec396;
  color: #ffffff;
}

.tablex__setting__modal__footer .ant-btn.ant-btn-green:active {
  background-color: #03a45e;
  border-color: #03a45e;
  color: #ffffff;
}

.tablex__setting__modal__footer .ant-btn.ant-btn-green.ant-btn-clicked:after {
  border-color: #03a45e;
}

.tablex__setting__modal__footer .ant-btn.ant-btn-red {
  background-color: #d6616d;
  border-color: #d6616d;
  color: #ffffff;
}

.tablex__setting__modal__footer .ant-btn.ant-btn-red:hover,
.tablex__setting__modal__footer .ant-btn.ant-btn-red:focus {
  background-color: #f04844;
  border-color: #f04844;
  color: #ffffff;
}

.tablex__setting__modal__footer .ant-btn.ant-btn-red:active {
  background-color: #d33f3c;
  border-color: #d33f3c;
  color: #ffffff;
}

.tablex__setting__modal__footer .ant-btn.ant-btn-red.ant-btn-clicked:after {
  border-color: #d33f3c;
}

.tablex__setting__modal__footer .ant-btn.ant-btn-gray {
  background-color: #bbbbbb;
  border-color: #bbbbbb;
  color: #ffffff;
}

.tablex__setting__modal__footer .ant-btn.ant-btn-gray:hover,
.tablex__setting__modal__footer .ant-btn.ant-btn-gray:focus {
  background-color: #b3b2b2;
  border-color: #b3b2b2;
  color: #ffffff;
}

.tablex__setting__modal__footer .ant-btn.ant-btn-gray:active {
  background-color: #a9a6a6;
  border-color: #a9a6a6;
  color: #ffffff;
}

.tablex__setting__modal__footer .ant-btn.ant-btn-gray.ant-btn-clicked:after {
  border-color: #a9a6a6;
}


.tablex-row-contextmenu {
  position: fixed;
  display: none;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.15);
  min-width: 100px;
  min-height: 100px;
  background-color: #ffffff;
  outline: none;
  z-index: 99999;
}
