.tablex {
  height: 100%;
  widows: 100%;
  border: 1px solid #e8e8e8;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}


.tablex ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.tablex ::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 4px;
}

.tablex ::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8;
}


.tablex-head {
  font-weight: bold;
  border-bottom: 1px solid #e8e8e8;
  white-space: nowrap;
  font-size: 0;
  overflow: hidden;
  box-sizing: border-box;
  padding-right: 6px;
}

.tablex-head-group {
  display: inline-flex;
  height: 100%;
  vertical-align: top;

  box-sizing: border-box;
  flex-direction: column;
}
/* 
.tablex-head-group .tablex-head-group:last-child {
  border-right: none;
}

.tablex-head-group .tablex-head-cell:last-child {
  border-right: none;
} */

.tablex-head-group-children {
  height: 100%;
}

.tablex-head-cell {
  display: inline-flex;
  box-sizing: border-box;
  border-right: 1px solid #e8e8e8;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
  vertical-align: top;
  position: relative;
  align-items: center;
}

.tablex-head-cell-title {
  padding: 10px 5px;
  font-size: 14px;
}

.tablex-head-group-cell {
  border-right: 1px solid #e8e8e8;

}



.tablex-head-group-title {
  border-bottom: 1px solid #e8e8e8;
  font-size: 14px;
  padding: 10px 5px;
  text-align: center;
}

.tablex-body {
  height: 100%;
  flex: 1;
}

.__cell {
  background-color: #ffffff;
  padding: 5px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  box-sizing: border-box;
}
